services:
  leader:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: leader
    environment:
      ASPNETCORE_ENVIRONMENT: "Leader"
      WRITE_QUORUM: "${WRITE_QUORUM:-3}"
      MIN_DELAY_MS: "${MIN_DELAY_MS:-0}"
      MAX_DELAY_MS: "${MAX_DELAY_MS:-1000}"
      FOLLOWERS: "http://f1:8080;http://f2:8080;http://f3:8080;http://f4:8080;http://f5:8080"
      USE_VERSIONING: &use_versioning "${USE_VERSIONING:-true}"
      ASPNETCORE_URLS: "http://+:8080"
    ports:
      - "8080:8080"
    depends_on:
      - f1
      - f2
      - f3
      - f4
      - f5
    networks:
      - kv_net

  f1: &follower_base
    build:
      context: .
      dockerfile: Dockerfile
    container_name: f1
    environment:
      ASPNETCORE_ENVIRONMENT: "Follower"
      USE_VERSIONING: *use_versioning
      ASPNETCORE_URLS: "http://+:8080"
    ports:
      - "8081:8080"
    networks:
      - kv_net

  f2:
    <<: *follower_base
    container_name: f2
    ports:
      - "8082:8080"

  f3:
    <<: *follower_base
    container_name: f3
    ports:
      - "8083:8080"

  f4:
    <<: *follower_base
    container_name: f4
    ports:
      - "8084:8080"

  f5:
    <<: *follower_base
    container_name: f5
    ports:
      - "8085:8080"

networks:
  kv_net:
    driver: bridge
